@include '/home/soumava/.config/wofi/colors.css';

window{
    font-size: 13px;
    font-family: "JetBrainsMono Nerd Font";
    margin: 5px;
    background: @background;
    color: @foreground;
    border: 2px solid white;
}

#outer-box{
}

#input{
    margin: 10px;
    padding: 2px;
    /* background: @foreground; */
    /* border: 2px solid @background; */
}

#img{
    margin: 0px 20px;
}
